<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255287539925-lit854dq0g1uph6r7jmr8vbpu428gesa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255287539925-lit854dq0g1uph6r7jmr8vbpu428gesa</string>
	<key>API_KEY</key>
	<string>-Rk</string>
	<key>GCM_SENDER_ID</key>
	<string>255287539925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luckylion2626.Conektr-Pocket-Salesman</string>
	<key>PROJECT_ID</key>
	<string>conektr-business</string>
	<key>STORAGE_BUCKET</key>
	<string>conektr-business.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255287539925:ios:3fe0538c912cb0697bca5c</string>
</dict>
</plist>